@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --primary: #121117;
  --secondary: #12181b;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --accent: #e67e22;
}

body {
  font-family: "Roboto Mono", monospace;
}

#navbar {
  top: 0;
  transition: top 0.33s, margin 0.1s ease-in-out;
  z-index: 1;
}

.vl {
  left: 50%;
  margin-left: -2px;
}
