@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .w-a {
    width: 54%;
  }
  .pro-size {
    height: 18rem;
    width: 18rem;
  }
  .pro-sm {
    height: 16rem;
    width: 16rem;
  }
}

.theme-dark {
  --primary: #121117;
  --text-main: #d1d8e0;
  --text-secondary: #a5b1c2;
  --accent: #fa8231;
}

body {
  font-family: "Roboto Mono", monospace;
}

.mod-let-space {
  letter-spacing: -0.12em;
}

.mod-font-size {
  font-size: 0.7rem;
}

.pro-frame {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: -1;
}
