@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --primary: #121117;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --accent: #e67e22;
}

.snap-con {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-con::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#about,
#contact,
#hero {
  scroll-snap-align: start;
}

body {
  font-family: "Roboto Mono", monospace;
}

.mod-let-space {
  letter-spacing: -0.11em;
}

.pro-frame {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: -1;
  height: 320px;
  width: 320px;
}
